/**LOGIN CSS STARTS HERE*/

.auth-container {
  max-width: 400px;
  padding: 20px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto 50px auto;
  /* min-height: 50vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #001533;
}

.register-link {
  margin-top: 20px;
  font-size: 13px;
}

.register-link a {
  color: #001533;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

/**LOGIN CSS END HERE*/

/**REGISTRATION PAGE START HERE STYLING*/

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 12px;
  background-color: #001533;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  border-radius: 10px;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: rgb(34, 80, 128);
}

/**REGISTRATION PAGE END HERE*/

/* SPINNER */

.spinner-container {
  min-height: 150px;
}

.big-spinner {
  width: 5rem !important;
  height: 5rem !important;
  border-width: 0.7em !important;
}

.big-spinner-login {
  width: 5rem !important;
  height: 5rem !important;
  border-width: 0.7em !important;
}

/* Ensure footer stays at the bottom of the page */
body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}
