.carousel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  max-width: 1366px;
  max-height: 600px;
  border-radius: 10px;
}

.carousel-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
  text-align: center;
  white-space: pre-line;
  direction: rtl;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
  user-select: none;
  transition: background 0.3s;
}

.carousel-button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

/* For mobile size screen */
@media (max-width: 800px) {
  .carousel-text-overlay {
    font-size: small;
  }
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 1000;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.85;
  transition: background 0.2s, opacity 0.2s;

  /* Fix button flickering on mobile */
  -webkit-tap-highlight-color: transparent;
  outline: none;
  touch-action: manipulation;
}

.scroll-to-top-btn:hover {
  background: #444;
}
