.footer {
  background-color: #030f27;
}

.footer-bottom {  /* footer line */
  width: 100%;
  text-align: center;
  margin-top: 24px;
  font-size: 0.95rem;
  color: #bbb;
  border-top: 1px solid #ffffff;
  padding-top: 12px;
}

.contact-link {
  color: black;
  margin: 10px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  font-weight: bolder;
}

.contact-link:hover {
  border: 1px solid #ffc107;
  transition: all 0.3s ease-in-out;
}


/* For mobile size screen */
@media (max-width: 700px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #222;
    margin-bottom: 2rem;
  }
  .footer-section {
    text-align: center;
  }
}
