.header {
  background-color: #030f27;
  color: white;
  padding: 1rem;
  direction: rtl;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-content a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.site-title {
  margin: 0;
  font-size: 1.8rem;
  color: white;
}

.nav-links a {
  margin: 0 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.accessibility-toggle {
  background: white;
  color: #0066cc;
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

.carousel .slide img {
  display: block !important;
  visibility: visible !important;
  height: auto !important;
}
