.header {
  background-image: linear-gradient(rgb(174 121 79), rgb(174 121 79 / 0%))
    /* ,
    url("../../public/images/wood-texture.jpg") */;
  background-blend-mode: lighten;
  color: white;
  padding: 1rem;
  direction: rtl;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-img {
  width: 80px;
  height: auto;
  /* border-radius: 12px; */
  margin-top: 1em;
  box-shadow: 0 0 12px rgb(174 121 79);
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: rotate(2deg) scale(1.05);
}

.order-training {
  margin-right: 7em;
  padding: 2em;
}

.order-training a {
  background-color: #ffc107;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  box-shadow: 0 4px 8px rgb(174 121 79);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.order-training a:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}

/* Auth - Login / register links */

.auth-links {
  display: flex;
  gap: 1rem;
}

.auth-links a {
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
}

.auth-links a:hover {
  color: rgb(174 121 79);
}

/* For mobile size screen */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;

    /* Fix button flickering on mobile */
    -webkit-tap-highlight-color: transparent;
    outline: none;
    touch-action: manipulation;
  }

  .header {
    background-image: linear-gradient(
        rgb(174 121 79),
        rgba(174, 122, 79, 0.468)
      )
      /* ,
    url("../../public/images/wood-texture.jpg") */;
    background-blend-mode: lighten;
    color: white;
    padding: 1rem;
    direction: rtl;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    margin-right: 0rem;
  }
  .site-title {
    font-size: 2.5rem;
  }

  .order-training {
    margin: 1em;
  }
}
