.header {
  background-color: #030f27;
  color: white;
  padding: 1rem;
  direction: rtl;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact-link {
  color: black;
  margin: 10px;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  font-weight: bolder;
}

.contact-link:hover {
  border: 1px solid #ffc107;
  transition: all 0.3s ease-in-out;
}

.contact-links {
  margin-right: 6em;
}

.site-title {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: #ffc107;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.site-title:hover {
  transform: scale(1.05);
}

.order-training a {
  background-color: #ffc107;
  color: #030f27;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.order-training a:hover {
  background-color: #e0a800;
  transform: scale(1.05);
}

/* Auth - Login / register links */

.auth-links {
  display: flex;
  gap: 1rem;
}

.auth-links a {
  background-color: white;
  color: #030f27;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #ffc107;
  transition: all 0.3s ease;
}

.auth-links a:hover {
  background-color: #ffc107;
  color: #030f27;
}

/* For mobile size screen */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    margin-right: 0rem;
  }
  .site-title {
    font-size: 2.5rem;
  }

  .order-training {
    margin: 1em;
  }
}
